.idea

/web/bundles/

/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/locks/*
!app/locks/.gitkeep
/app/phpunit.xml

/vendor/
/bin/
/composer.phar

/tests/_output/*
/tests/_data/logs

/plugins/*
/app/config/plugins.yml

/cron/*.cron
