<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Changed</th>
        <th>Message status before</th>
        <th>Message status after</th>
        <th>Step number</th>
    </tr>
    </thead>
    <tbody>
    {% for change in stepChanges %}
        <tr>
            <td style="text-align: center; vertical-align: middle">
                <span class="label label-info">
                    {{ change.changedAt|date('Y-m-d H:i:s') }}
                </span>
            </td>
            <td>
                {{ change.messageStatusBefore }}
            </td>
            <td>
                {{ change.messageStatusAfter }}
            </td>
            <td>
                {{ change.stepNumber }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>